<app-header (linkClicked)="onHeaderLinkClicked($event)"></app-header>

<!-- <app-ngbd-popover-basic></app-ngbd-popover-basic> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="currentLink===0"></app-recipes>
      <app-shopping-list *ngIf="currentLink===1"></app-shopping-list>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbPopover="popContent" popoverTitle="popTitle">
  Popover
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Popover on top
</button>
