<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">   #f makes form available via reference, so it can be passed to onSubmit. #f="ngForm" makes form available in a form of a javascript object -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">  
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
             <input type="email" id="email" class="form-control" ngModel name="email" required email #emailRef="ngModel"> <!--exposes addtional info about this input -->
             <span class="help-block" *ngIf="!emailRef.valid && emailRef.touched">Please enter a valid email!</span> 
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret"> <!-- [ngModel]="'pet'" property binding to pass a default value to ngModel-->
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" class="form-control" rows="3" [(ngModel)]="answer"></textarea>
          <p>Your reply: {{answer}}</p>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        
      </form>
    
    </div>
  </div>
</div>
